@page
@model HentaiPages.Pages.GalleryModel
@{
    ViewData["Title"] = "Gallery";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>HentaiPages</title>
    <link rel="stylesheet" href="css/modal.css">
    <link rel="stylesheet" href="css/site.css">
</head>

<body style="margin: 0; padding: 0;">
    <div class="photo-gallery">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">Gallery</h2>
                <p class="text-center">@Model.CurrentPage / @(Math.Ceiling((double)Model.ImagesCount/(double)Model.PageSize))</p>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a asp-page="/Gallery"
                           asp-route-CurrentPage="1"
                           asp-route-ShowLikedOnly="@Model.ShowLikedOnly"
                           class="page-link">First</a>
                    </li>
                    <li class="page-item @(Model.CurrentPage <= 1 ? "disabled":"")">
                        <a asp-page="/Gallery"
                           asp-route-CurrentPage="@(Model.CurrentPage - 1)"
                           asp-route-ShowLikedOnly="@Model.ShowLikedOnly"
                           class="page-link">Previous</a>
                    </li>
                    <li class="page-item  @(Model.CurrentPage >= Math.Ceiling((double)Model.ImagesCount/(double)Model.PageSize) ? "disabled":"")">
                        <a asp-page="/Gallery"
                           asp-route-CurrentPage="@(Model.CurrentPage + 1)"
                           asp-route-ShowLikedOnly="@Model.ShowLikedOnly"
                           class="page-link">Next</a>
                    </li>
                    <li class="page-item">
                        <a asp-page="/Gallery"
                           asp-route-CurrentPage="@(Math.Ceiling((double)Model.ImagesCount/(double)Model.PageSize))"
                           asp-route-ShowLikedOnly="@Model.ShowLikedOnly"
                           class="page-link">Last</a>
                    </li>
                </ul>
                <br>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a asp-page="/Gallery"
                           asp-route-CurrentPage="@Model.CurrentPage"
                           asp-route-ShowLikedOnly="false"
                           class="page-link">All</a>
                    </li>
                    <li class="page-item">
                        <a asp-page="/Gallery"
                           asp-route-CurrentPage="@Model.CurrentPage"
                           asp-route-ShowLikedOnly="true"
                           class="page-link">Liked</a>
                    </li>
                </ul>
            </div>
            <div class="row photos">
                @for(var i = 0; i < Model.ImageIds.Length; i++)
                {
                    <div class="col-sm-6 col-md-4 col-lg-3 item">
                        @if (Model.ImageIds[i].IsVideo)
                        {
                            <video class="img-fluid" muted controls="controls" onclick="openModal(@Html.Raw(Json.Serialize(Model.ImageIds.Select(x => x.Id))), @i);">
                                <source src="/api/images/GetImageDataById/@Model.ImageIds[i].Id" type="video/mp4">
                            </video>
                        }
                        else
                        {
                            <img class="img-fluid" src="/api/images/GetImageDataById/@Model.ImageIds[i].Id" onclick="openModal(@Html.Raw(Json.Serialize(Model.ImageIds.Select(x => x.Id))), @i);">
                        }
                    </div>
                }
            </div>
        </div>
    </div>

    <div id="myModal" class="modal">
        <div class="modal-content">
            <div class="modal-header">
                <p style="float: left" id="headerId">Image Id</p>
                <span class="close">&times;</span><br>
            </div>
            <div class="modal-body"  style="overflow-y: scroll;">
                <div id="displayImage">
                    <div id="modalVideoDiv">
                        <video class="img-fluid" controls loop id="video">
                            <source src="" type="video/mp4" id="modalVideoPlayer">
                        </video>
                    </div>
                </div>
                <div id="descriptionDiv">
                    <p id="uploadDate">this is test content</p>
                    <div id="tagPicker">
                         <label>
                             <input type="checkbox" id="checkboxFeet" value="Feet"> Feet
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxThighs" value="Thighs"> Thighs
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxLegwear" value="Leg-wear"> Leg-wear
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxButt" value="Butt"> Butt
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxCreampie" value="Creampie"> Creampie
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxSex" value="Sex"> Sex
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxMasturbation" value="Masturbation"> Masturbation
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxBoobies" value="Boobies"> Boobies
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxPantsu" value="Pantsu"> Pantsu
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxYuri" value="Yuri"> Yuri
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxCatgirl" value="Catgirl"> Catgirl
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxGif" value="Gif"> Gif
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxIrl" value="Irl"> Irl
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxEcchi" value="Ecchi"> Ecchi
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxWet" value="Wet"> Wet
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxPOV" value="POV"> POV
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxHandjob" value="Handjob"> Handjob
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxGroup" value="Group sex"> Group sex
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxSchoolgirl" value="School girl"> School girl
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxSecretary" value="Secretary"> Secretary
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxCondom" value="Condom"> Condom
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxGrayscale" value="Grayscale"> Grayscale
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxHiding" value="Hiding"> Hiding
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxCasual" value="Casual"> Casual
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxInviting" value="Inviting"> Inviting
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxCowgirl" value="Cowgirl"> Cowgirl
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxLegsSpreading" value="Legs spreading"> Legs spreading
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxMaid" value="Maid"> Maid
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxBlowjob" value="Blowjob"> Blowjob
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxLingerie" value="Lingerie"> Lingerie
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxTattoo" value="Tattoo"> Uterus tattoo
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxPussy" value="Pussy"> Pussy
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxBlushing" value="Blushing"> Blushing
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxHappy" value="Happy"> Happy
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxBoobjob" value="Boobjob"> Boobjob
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxPussyEating" value="Pussy eating"> Pussy eating
                         </label>
                         <label>
                             <input type="checkbox" id="checkboxCumshot" value="Cumshot"> Cumshot
                         </label>
                        </div>
                    <div>
                        <button id="toggleTagsButton" onclick="toggleTags();" on="" >Toggle tags</button>
                        <button id="saveTagsButton" onclick="saveTagsSettings();" on="" >Save tags</button>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="likeButton" onclick="setFavourite();" on="" ></button>
                <button id="downloadButton" onclick="download();" on="" >Download</button>
                <button id="deleteButton" onclick="deleteImage();" on="" >Delete</button>
            </div>
        </div>
    </div>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/modal.js"></script>
</body>

</html>